<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebsitesCatalog.WebsiteDataServiceBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />

    <services>
      <service name="AjaxService.Service1">
        <endpoint address=""
         behaviorConfiguration="WebsitesCatalog.WebsiteDataServiceBehavior"
         binding="webHttpBinding"
         contract="AjaxService.IService1" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
